:root {
    // Backgrounds
    //--primary-bg: #1a1d25;
    --secondary-bg: #20232f;
    --sidebar-bg: #1e2029;
    --chat-input-bg: #292b36;
    --active-item-bg: #2a2d39;

    // Text
    --primary-text: #ffffff;
    --secondary-text: #8b8d96;

    // Accent (màu chủ đạo)
    --accent-color: #3b82f6;
    --accent-hover: #60a5fa;

    // Borders
    --border-color: #31343f;

    // Chat
    --message-sent: #3b82f6;
    --message-received: #2a2d39;

    // Status
    --status-online: #4ade80;
    --status-offline: #6b7280;
}
